/* english font */

@font-face {
    font-family: 'Dubai-Bold';
    src: local('Dubai-Bold'), local('Dubai-Bold'), url(/einv_sa/static/src/fonts/Dubai-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Dubai-Light';
    src: local('Dubai-Light'), local('Dubai-Light'), url(/einv_sa/static/src/fonts/Dubai-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Dubai-Medium';
    src: local('Dubai-Medium'), local('Dubai-Medium'), url(/einv_sa/static/src/fonts/Dubai-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Dubai-Regular';
    src: local('Dubai-Regular'), local('Dubai-Regular'), url(/einv_sa/static/src/fonts/Dubai-Regular.otf) format('opentype');
}

.page{
  /*  margin-top:-50px !important; */
font-family: 'Dubai-Regular' !important;
font-size: small !important;
}
body .header .footer {
font-family: 'Dubai-Bold' !important;
}
