.o_tender_project_overview{
.o_title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
     [type='action'] {
        color: $o-brand-primary;
        cursor: pointer;
    }

    .o_tender_project_overview_stat_buttons {
        text-align: right;
        float: none;
        width: auto;
    }

    .o_tender_project_overview_wrapper {
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        .o_tender_project_overview_section {
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

    }

    .o_tender_project_overview_dashboard {

        .table {
            margin-top: 15px;
            a {
                cursor: pointer;
            }
        }
        .table > thead > tr > th, .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
        }
        .table > tbody > tr > td.o_tender_project_overview_dashboard_cell {
            text-align: right;
        }
        .table > tbody > tr > td.o_timesheet_plan_dashboard_total {
            border-top: 1px solid;
            text-align: right;
        }
    }

    .o_tender_project_overview_customers {
    .o_progress_open {
            background-color: theme-color('danger');
            color: white;
            cursor: pointer;
        }
        .o_progress_in_progress {
            background-color: theme-color('info');
            color: white;
            cursor: pointer;
        }
        .o_progress_closed {
            background-color: theme-color('success');
            color: white;
            cursor: pointer;
        }
    >.o_tender_project_overview_customers_badge {
            margin-bottom: 10px;
            > .badge {
                border: none;
                font-size: unset;
                    a {
                    color: white;
                }
            }
        }
        .table {
            margin-top:15px;
        }
        .table > thead > tr > th, .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
            padding: 0px;
        }
    }

}