<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <menuitem id="menu_legal_root"
              name="Legal Management"
              web_icon="legal_management,static/description/legal.png"
              sequence="1"/>

    <menuitem id="menu_legal_master_first"
              name="Judicial Systems"
              parent="menu_legal_root"
              sequence="2"/>

    <menuitem id="menu_legal_master_second"
              name="Document Systems"
              parent="menu_legal_root"
              sequence="3"/>

    <menuitem id="menu_configuration"
              name="Configuration"
              parent="menu_legal_root"
              sequence="5"/>

    <menuitem id="menu_reporting"
              name="Reporting"
              parent="menu_legal_root"
              sequence="4"/>

    <menuitem id="menu_issues_reporting"
              name="Issues Details"
              parent="menu_reporting"
              action="action_issue_detail"
              sequence="41"/>


</odoo>